In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import sklearn
import sqlite3 as sql
import sqlalchemy
from sklearn.preprocessing import StandardScaler


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error

from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import RandomizedSearchCV

#  cargar los datos sin escalar

In [2]:
connection = sql.connect("../Data/diamonds_train.db")

In [3]:
print(pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", connection))

                     name
0     diamonds_dimensions
1  diamonds_transactional
2     diamonds_properties
3            diamonds_cut
4          diamonds_color
5        diamonds_clarity
6           diamonds_city

In [4]:
query1= 'SELECT * FROM diamonds_dimensions'
df_dimensions = pd.read_sql_query(query1, connection)
df_dimensions

,index_id,depth,table,x,y,z
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95
...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25

In [5]:
query2= 'SELECT * FROM diamonds_transactional'
df_transactional = pd.read_sql_query(query2, connection)
df_transactional

,index_id,price,city_id,carat
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4268,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.21
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,505,89c7286890f7347ab235234e74d406596a127ae3679042...,0.32
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2686,2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...,0.71
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,738,89c7286890f7347ab235234e74d406596a127ae3679042...,0.41
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4882,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02
...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,10070,ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...,1.34
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,12615,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...,2.02
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,5457,89c7286890f7347ab235234e74d406596a127ae3679042...,1.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,456,89c7286890f7347ab235234e74d406596a127ae3679042...,0.33
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,6232,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,1.24

In [6]:
query3= 'SELECT * FROM diamonds_properties'
df_properties = pd.read_sql_query(query3, connection)
df_properties

,index_id,cut_id,color_id,clarity_id
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,388655e25e91872329272fc10128ef5354b3b19a05d7e8...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...

In [7]:
query4= 'SELECT * FROM diamonds_cut'
df_cut = pd.read_sql_query(query4, connection)
df_cut

                                              cut_id        cut
0  388655e25e91872329272fc10128ef5354b3b19a05d7e8...  Very Good
1  4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...      Ideal
2  c939327ca16dcf97ca32521d8b834bf1de16573d21deda...       Good
3  de88c121a82a06352bf1aaceba20578356408a334ba046...    Premium
4  f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...       Fair

In [8]:
query5= 'SELECT * FROM diamonds_color'
df_color = pd.read_sql_query(query5, connection)
df_color

                                            color_id color
0  333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...     G
1  3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...     D
2  44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...     H
3  6da43b944e494e885e69af021f93c6d9331c78aa228084...     J
4  a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...     I
5  a9f51566bd6705f7ea6ad54bb9deb449f795582d6529a0...     E
6  f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...     F

In [9]:
query6= 'SELECT * FROM diamonds_clarity'
df_clarity = pd.read_sql_query(query6, connection)
df_clarity

                                          clarity_id clarity
0  03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...     SI2
1  3f9db06236e9719b61c826b612b882fa702ec81574e44c...    VVS2
2  66686ae1f0c9c400ba32dc600a34ff0aa173395bcbc2d8...    VVS1
3  7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...      IF
4  bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...     SI1
5  c2818bc4e5ec4ae4a357a0df6fed73652e169ec676f7d4...      I1
6  ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...     VS1
7  f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...     VS2

In [10]:
query7= 'SELECT * FROM diamonds_city'
df_city = pd.read_sql_query(query7, connection)
df_city

                                              city_id           city
0   0013c01fe0d094209b8bd3d23b8f96dbabcd01ddd2a039...      Amsterdam
1   1e73b1647343b286269d517e6f07e6e07ccef10cd7b785...         Zurich
2   2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...      Las Vegas
3   5a59ef2e40c5f89adb8c0c6ad0a8019b0e252fff530cf2...  New York City
4   5dd272b4f316b776a7b8e3d0894b37e1e42be3d5d3b204...          Paris
5   68371d5bdaab31b5cbc25fbf94b8f9c1238294fc50e715...       Tel Aviv
6   6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...          Dubai
7   89c7286890f7347ab235234e74d406596a127ae3679042...       Kimberly
8   ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...          Surat
9   ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...        Antwerp
10  e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...         Madrid
11  ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...         London
12  ed76f191621cf6ed77eab6a8013d1cb4bdfa89a75a24aa...     Luxembourg

In [11]:
join1 = df_dimensions.merge(df_transactional , on = "index_id")
join2 = join1.merge(df_properties , on = "index_id")
join3 = join2.merge(df_cut , on = "cut_id")
join4 = join3.merge(df_color, on = "color_id")
join5 = join4.merge(df_clarity, on = "clarity_id")
join6 = join5.merge(df_city, on = "city_id")

In [12]:
join6

,index_id,depth,table,x,y,z,price,city_id,carat,cut_id,color_id,clarity_id,cut,color,clarity,city
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.21,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
1,41667f6e2629360aecaf00b20f8732e3310417ebd54b24...,61.6,58.0,6.40,6.35,3.93,3513,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.02,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
2,01f8667f50d52677bea23231a74156e4f92360d7bc3db6...,62.3,58.0,5.86,5.80,3.63,1792,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,0.77,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
3,c3867352aab641358faec75d733af012dbe2259a014ea8...,59.6,60.0,7.58,7.48,4.49,7553,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,1.51,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
4,0da4b104c4d8589fcb96a03aa0787549a2631935b0f499...,60.2,62.0,5.40,5.33,3.23,1176,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,0.57,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2,Dubai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,3df6f3da962b819057888dbbe3cf4d11f9a59261ba0af7...,62.2,54.0,5.24,5.27,3.27,2729,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.54,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40451,e5bc95d36abda5bfd67641eca60f2ab92f37b27c0397e0...,61.9,54.0,5.22,5.25,3.24,2802,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.53,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40452,5ad0fcca0db9b3d399e31a3d909a1a3f4da38c663256b3...,62.3,55.0,4.30,4.34,2.69,886,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.30,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40453,c8559278b1ac356e1e414320a4efbbe788dc16623e7873...,60.9,55.0,4.15,4.23,2.55,768,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.26,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat
40454,d7e77869948ba7500ca20937afd59c8f9b7a0238adb814...,61.2,56.0,4.37,4.42,2.69,921,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,0.31,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF,Surat

In [13]:
df_final = join6.loc[:, ["carat", 'cut', 'color', 'clarity',"price", 'depth', "table", "x", "y", "z"]]
df_test  = df_final[(df_final["x"] == 0)]
df_test.drop("x", axis=1, inplace=True)
df_final = df_final[(df_final["x"] != 0)]
df_test

/Users/mohamedelmarraki/miniconda3/envs/ironhack/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

       carat      cut color clarity  price  depth  table     y    z
10984   1.14     Fair     G     VS1   6381   57.5   67.0  0.00  0.0
15050   0.71     Good     F     SI2   2130   64.1   60.0  0.00  0.0
22008   2.25  Premium     H     SI2  18034   62.8   59.0  0.00  0.0
22218   0.71     Good     F     SI2   2130   64.1   60.0  0.00  0.0
22237   1.07    Ideal     F     SI2   4954   61.6   56.0  6.62  0.0

# codificar los valores de otra manera

In [14]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", 'J', 'I', 'H', 'G', 'F', 'E', 'D']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_final[["color"]])
df_final["color-encoded"] = encoder.transform(df_final[["color"]])
df_final.drop("color", axis = 1 , inplace = True)

In [15]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", 'Fair', 'Good', 'Very Good', 'Premium', 'Ideal']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_final[["cut"]])
df_final["cut-encoded"] = encoder.transform(df_final[["cut"]])
df_final.drop("cut", axis = 1 , inplace = True)

In [16]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", "I1", 'SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_final[["clarity"]])
df_final["clarity-encoded"] = encoder.transform(df_final[["clarity"]])
df_final.drop("clarity", axis = 1 , inplace = True)

In [17]:
df_train = pd.get_dummies(df_final)
df_train.drop("x", axis = 1, inplace = True)
target = df_final.x
df_train

,carat,price,depth,table,y,z,color-encoded,cut-encoded,clarity-encoded
0,1.21,4268,62.4,58.0,6.79,4.25,1.0,4.0,4.0
1,1.02,3513,61.6,58.0,6.35,3.93,1.0,4.0,4.0
2,0.77,1792,62.3,58.0,5.80,3.63,1.0,4.0,4.0
3,1.51,7553,59.6,60.0,7.48,4.49,1.0,4.0,4.0
4,0.57,1176,60.2,62.0,5.33,3.23,1.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...
40450,0.54,2729,62.2,54.0,5.27,3.27,5.0,5.0,8.0
40451,0.53,2802,61.9,54.0,5.25,3.24,5.0,5.0,8.0
40452,0.30,886,62.3,55.0,4.34,2.69,5.0,5.0,8.0
40453,0.26,768,60.9,55.0,4.23,2.55,5.0,5.0,8.0
40454,0.31,921,61.2,56.0,4.42,2.69,5.0,5.0,8.0

# df_test = pd.read_csv("diamonds_test.csv")

In [18]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", 'J', 'I', 'H', 'G', 'F', 'E', 'D']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_test[["color"]])
df_test["color-encoded"] = encoder.transform(df_test[["color"]])
df_test.drop("color", axis = 1 , inplace = True)

In [19]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", 'Fair', 'Good', 'Very Good', 'Premium', 'Ideal']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_test[["cut"]])
df_test["cut-encoded"] = encoder.transform(df_test[["cut"]])
df_test.drop("cut", axis = 1 , inplace = True)

In [20]:
from sklearn.preprocessing import OrdinalEncoder

# Creamos el codificador indicandole el orden de la variables
encoder = OrdinalEncoder(categories=[["X", "I1", 'SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF']])

# Ajustamos el codificador con la variable education y la transformamos
encoder.fit(df_test[["clarity"]])
df_test["clarity-encoded"] = encoder.transform(df_test[["clarity"]])
df_test.drop("clarity", axis = 1 , inplace = True)

In [21]:
df_test

,carat,price,depth,table,y,z,color-encoded,cut-encoded,clarity-encoded
10984,1.14,6381,57.5,67.0,0.00,0.0,4.0,1.0,5.0
15050,0.71,2130,64.1,60.0,0.00,0.0,5.0,2.0,2.0
22008,2.25,18034,62.8,59.0,0.00,0.0,3.0,4.0,2.0
22218,0.71,2130,64.1,60.0,0.00,0.0,5.0,2.0,2.0
22237,1.07,4954,61.6,56.0,6.62,0.0,5.0,5.0,2.0

In [22]:
scaler = RobustScaler()
scaled_df_train = scaler.fit_transform(df_train)
scaled_df_train

array([[ 0.796875  ,  0.4266089 ,  0.4       , ..., -1.        ,
         0.        ,  0.        ],
       [ 0.5       ,  0.25446047, -0.13333333, ..., -1.        ,
         0.        ,  0.        ],
       [ 0.109375  , -0.13794676,  0.33333333, ..., -1.        ,
         0.        ,  0.        ],
       ...,
       [-0.625     , -0.34452488,  0.33333333, ...,  0.33333333,
         0.5       ,  2.        ],
       [-0.6875    , -0.3714302 , -0.6       , ...,  0.33333333,
         0.5       ,  2.        ],
       [-0.609375  , -0.33654449, -0.4       , ...,  0.33333333,
         0.5       ,  2.        ]])

In [23]:
scaler = RobustScaler()
scaled_df_test = scaler.fit_transform(df_test)
scaled_df_test

array([[ 0.1627907 ,  0.33568572, -2.12      ,  7.        ,  0.        ,
         0.        , -1.        , -0.5       ,  3.        ],
       [-0.8372093 , -0.66431428,  0.52      ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [ 2.74418605,  3.07692308,  0.        , -1.        ,  0.        ,
         0.        , -2.        ,  1.        ,  0.        ],
       [-0.8372093 , -0.66431428,  0.52      ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        , -0.48      , -4.        ,  6.62      ,
         0.        ,  0.        ,  1.5       ,  0.        ]])

In [24]:
%%time
param_grid = {'n_estimators': [16, 32, 64, 128, 256, 512],
              'max_depth': [2, 4, 8, 16]}
grid_search = RandomizedSearchCV(LGBMRegressor(), 
                                 param_grid, 
                                 cv=5, 
                                 verbose=3, 
                                 scoring='neg_root_mean_squared_error', 
                                 n_jobs=-1)
grid_search.fit(scaled_df_train, target)
proped_price = grid_search.predict(scaled_df_test)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
CPU times: user 23.3 s, sys: 7.35 s, total: 30.7 s
Wall time: 12.3 s

In [25]:
proped_price

array([5.92164292, 5.03222348, 7.0187073 , 5.03222348, 6.41614429])

In [26]:
%%time
from sklearn.model_selection import cross_val_score
scores = cross_val_score(grid_search, 
                         scaled_df_train, 
                         target, 
                         scoring='neg_root_mean_squared_error', 
                         cv=5,
                         n_jobs=-1)

CPU times: user 94 ms, sys: 48.8 ms, total: 143 ms
Wall time: 7.85 s

In [27]:
np.mean(-scores)

0.035155367238064485

In [28]:
x = [5.92164292, 5.03222348, 7.0187073 , 5.03222348, 6.41614429]